.App {
    display: grid;
    width: 100%;
    min-height: 61rem;
    justify-content: center;
    align-items: center;
    background: #9ecad6;
    font-family: Arial, sans-serif;
}
.table {
    width: 100%;
}